body {
  border: 5px solid black;
}

#img1 {
  width: 250px;
  height: 200px;
  border: 2px solid yellow;
  background-repeat: no-repeat;
  background-image: url(./resource/1.jpg);
}

#img2 {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-image: url(./resource/2.jpg);
}

#img3 {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-image: url(./resource/3.jpg);
}
